p {
    font-family: Arial, sans-serif;
    font-size: 2em;
color: royalblue;
}
h1 {
    font-family: Lobster, cursive;
    font-size: 3em;
    text-align: center;
      color:red
}
body {
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
    background-image: url(images/ciel.jpg);
}
